@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --bg: #ffffff;
    --primary: #0805e8;
    --yellow: #e7c83c;
    --gris: #afafaf;
}

body {
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    margin: 0;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary);
    color: var(--bg);
    width: 100%;
    position: fixed;
    top: 0;
}

header div {
    text-align: center;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: var(--bg);
    font-weight: bold;
}

main {
    margin-top: 7rem;
    margin-bottom: 3rem;
}

section {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: var(--bg);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: var(--primary);
    color: var(--bg);
    padding: 10px 0;
    font-size: 0.9rem;
}
