@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --bg: #ffffff;
  --primary: #004fd7;
  --yellow: #e7bd00;
  --yellow2: #fc9700;
  --gris: #cecece;
  --celeste: #1770ff;
}

html {
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg);
  font-family: "Poppins", sans-serif;
  color: var(--primary);
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
    font-size: 4rem;
    color: var(--bg);
    margin: 0;
    text-align: center;
}

h2 {
  font-size: 2.1rem;
  color: var(--primary);
  margin: 0;
}

header p {
  top: -50px;
  margin: 0;
  font-size: 1.2rem;
}

header img {
  width: 20rem;
  height: 3rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary);
    margin: 0;
    text-transform: uppercase;
}

.red {
  color: red !important;
}
.green {
  color: green !important;
}


header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--celeste);
  color: var(--bg);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 7rem;
}

header div {
  text-align: center;
}

.nav {
  display:flex;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: var(--bg);
  font-weight: 400;
}

.nav a:hover {
  color: var(--yellow);
}

.botonh {
  color: var(--bg);
  border: 2px solid white;
  padding: 0.1rem .3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}

.botonh:hover {
  background-color: rgb(221, 125, 0);
  transform: scale(1.02);
}

.boton {
  color: var(--bg);
  background-color: var(--yellow2);
  padding: 0.4rem .8rem;
  margin: .5rem;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.boton:hover {
  background-color: rgb(155, 89, 2);
  transform: scale(1.02);
}

main {
  margin-top: 6rem;
  width: 100%;
}

section {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}

.banner {
  width: 100%;
  height: 6rem;
  background: linear-gradient(45deg, #4e1c9e, var(--primary));
  background-size: 300% 300%;
  animation: gradiente 2s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

input {
  height: 1.8rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
  border: solid 2px var(--bg);
  background-color: #ff94ff;
}

@keyframes gradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.seccion {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.hero {
  background-image: url('../img/hero.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  animation: cambioFondo 15s infinite;
}

@keyframes cambioFondo {
  0% {
    background-image: url('../img/hero.jpg');
  }
  50% {
    background-image: url('../img/hero2.avif');
  }
  100% {
    background-image: url('../img/hero.jpg');
  }
}

.hero h1 {
    text-shadow: 3px 3px 5px #1d1d1d;
}

.hero a {
    background-color: var(--yellow2);
    color: var(--bg);
    padding: .5rem 1rem;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in-out;
    text-align: center;
    text-decoration: none;
}

.hero a:hover {
  background-color: rgb(223, 168, 68);
  transform: scale(1.02);
}

.card {
  background-color: var(--bg);
  border-radius: 10px;
  padding: 1rem 1.5rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 1rem;
}

.card p {
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
}

.card i {
  font-size: 1.3rem;
  margin-right: .5rem;
}

.left {
text-align: start;
margin-left: 1rem;
padding: 0;
margin:1rem;
}

.card img {
  width: 100%;
  height: 19rem;
  border-radius: 8px;
  object-fit: cover;
}

span {
  position: relative;
  top: -40px;
  background-color: var(--primary);
  color: var(--yellow);
  padding: .6rem 1.5rem;
  font-size: 2.1rem;
  margin: 0;
}

.ubiposs {
display: flex;
justify-content: end;
align-items: center;
margin: 0;
padding: 0;
line-height: 0;
}

.ubi {
font-size: 2rem;
margin: 0;
position: relative;
top: 2.5rem;
color: var(--bg);
background-color: var(--primary);
width: 150px;
height: 2rem;
border-radius: 7px;
align-items: center;
justify-content: center;
text-align: center;
}

.ubi i {
color: var(--yellow);
margin-right: .3rem;
margin: .3rem 0;
font-size: 1.3rem;
}

footer {
  text-align: center;
  background-color: var(--primary);
  color: var(--bg);
  padding: 10px 0;
  font-size: 0.9rem;
  width: 100%;
}

@media (max-width: 600px) {
  header {
    height: 10rem;
    flex-direction: column;
  }
  .banner {
    flex-direction: column;
    height: 14rem;
    text-align: center;
  }
  .banner h2 {
    font-size: 1.4rem;
  }
  .menu {
    display: none;
  }
  label {
    display: none;
  }
  form {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
  }
  input {
    height: 2rem;
    text-align: center;
  }
  section {
    margin: 5rem 0;
  }
}